Package: tinyrpcx-pkg
Version: 2019-05-17
Section: free
Priority: optional
Depends:
Suggests:
Architecture: all
Installed-Size:
Maintainer: apple_mix_fw_core@group.apple.com
Provides: HWTE
Description: MIX FW RPC server library
