<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fixture_Slots</key>
	<integer>8</integer>
	<key>Fixture_Control_Setting</key>
	<string>115200,8,n,1</string>
	<key>Fixture_Control_Port</key>
	<dict>
		<key>UUT0</key>
		<string>/dev/cu.usbserial-MCUAA</string>
		<key>UUT1</key>
		<string>/dev/cu.usbserial-MCUAB</string>
		<key>UUT2</key>
		<string>/dev/cu.usbserial-MCUAC</string>
		<key>UUT3</key>
		<string>/dev/cu.usbserial-MCUAD</string>
		<key>UUT4</key>
		<string>/dev/cu.usbserial-MCUBA</string>
		<key>UUT5</key>
		<string>/dev/cu.usbserial-MCUBB</string>
		<key>UUT6</key>
		<string>/dev/cu.usbserial-MCUBC</string>
		<key>UUT7</key>
		<string>/dev/cu.usbserial-MCUBD</string>
	</dict>
	<key>splite1</key>
	<string>-----------------------------------------------------------------------------------------------------</string>
	<key>Instruction</key>
	<string>Dictionary:return by UUT, Array: execute by list index</string>
	<key>Instruction2</key>
	<string>Following setting is uesd for DFUFixture.dylib for fixture operation</string>
	<key>splite2</key>
	<string>-----------------------------------------------------------------------------------------------------</string>
	<key>vender</key>
	<string>IA</string>
	<key>serial_number</key>
	<string>TBD</string>
	<key>version</key>
	<string>1.12</string>
	<key>init</key>
	<array>
		<string>io set(3,bit0=1,bit1=1,bit2=1)</string>
		<string>io set(1,bit11=0)</string>
		<string>io set(1,bit12=0)</string>
		<string>io set(1,bit3=0)</string>
		<string>io set(1,bit10=0)</string>
		<string>io set(1,bit13=1)</string>
		<string>io set(3,bit8=0,bit9=0,bit6=0)</string>
		<string>io set(3,bit14=0,bit15=0,bit16=0)</string>
	</array>
	<key>reset</key>
	<array>
		<string>IO SET(8,BIT20=1,BIT3=0,BIT5=0,BIT11=0,BIT12=0,BIT13=0,BIT14=0,BIT15=0)</string>
		<string>IO SET(1,BIT25=0)</string>
	</array>
	<key>usb_location</key>
	<dict>
		<key>UUT0</key>
		<string>0x1a121000</string>
		<key>UUT1</key>
		<string>0x1a122000</string>
		<key>UUT2</key>
		<string>0x1a123000</string>
		<key>UUT3</key>
		<string>0x1a124000</string>
		<key>UUT4</key>
		<string>0x1d111000</string>
		<key>UUT5</key>
		<string>0x1d112000</string>
		<key>UUT6</key>
		<string>0x1d113000</string>
		<key>UUT7</key>
		<string>0x1d114000</string>
	</dict>
	<key>uart_path</key>
	<dict>
		<key>UUT0</key>
		<string>/dev/cu.usbserial-MCUAB</string>
		<key>UUT1</key>
		<string>/dev/cu.usbserial-MCUAD</string>
		<key>UUT2</key>
		<string>/dev/cu.usbserial-UARTAB</string>
		<key>UUT3</key>
		<string>/dev/cu.usbserial-UARTAD</string>
		<key>UUT4</key>
		<string>/dev/cu.usbserial-UARTBB</string>
		<key>UUT5</key>
		<string>/dev/cu.usbserial-UARTBD</string>
		<key>UUT6</key>
		<string>/dev/cu.usbserial-MCUBB</string>
		<key>UUT7</key>
		<string>/dev/cu.usbserial-MCUBD</string>
	</dict>
	<key>usb_power_on</key>
	<array>
		<string>io set(1,bit8=1)</string>
	</array>
	<key>usb_power_off</key>
	<array>
		<string>io set(1,bit8=0)</string>
	</array>
	<key>battery_power_on</key>
	<array>
		<string>io set(1,bit9=1)</string>
	</array>
	<key>battery_power_off</key>
	<array>
		<string>io set(1,bit9=0)</string>
	</array>
	<key>usb_signal_on</key>
	<array>
		<string></string>
	</array>
	<key>usb_signal_off</key>
	<array>
		<string></string>
	</array>
	<key>uart_signal_on</key>
	<array>
		<string></string>
	</array>
	<key>uart_signal_off</key>
	<array>
		<string></string>
	</array>
	<key>apple_id_on</key>
	<array>
		<string>io set(1,bit11=1)</string>
	</array>
	<key>apple_id_off</key>
	<array>
		<string>io set(1,bit11=0)</string>
	</array>
	<key>conn_det_grounded_on</key>
	<array>
		<string></string>
	</array>
	<key>conn_det_grounded_off</key>
	<array>
		<string></string>
	</array>
	<key>hi5_bs_grounded_on</key>
	<array>
		<string></string>
	</array>
	<key>hi5_bs_grounded_off</key>
	<array>
		<string></string>
	</array>
	<key>dut_power_on</key>
	<array>
		<string></string>
	</array>
	<key>dut_power_off</key>
	<array>
		<string></string>
	</array>
	<key>force_dfu_on</key>
	<array>		
		<string>IO SET(1,BIT25=0)</string>
		<string>IO SET(8,BIT20=0,BIT3=0,BIT5=0,BIT11=0,BIT12=0,BIT13=0,BIT14=0,BIT15=0)</string>
		<string>IO SET(1,BIT25=0)</string>
		<string>IO SET(8,BIT20=0,BIT3=0,BIT5=0,BIT11=0,BIT12=0,BIT13=0,BIT14=0,BIT15=0)</string>
		<string>IO SET(8,BIT14=1,BIT15=1,BIT3=1,BIT5=0,BIT11=1,BIT12=1,BIT13=1)</string>
		<string>IO SET(8,BIT14=1,BIT15=1,BIT3=1,BIT5=0,BIT11=1,BIT12=1,BIT13=1)</string>
		<string>IO SET(1,BIT25=1)</string>		
		<string>IO SET(1,BIT25=1)</string>		
	</array>
	<key>force_dfu_off</key>
	<array>
		<string>io set(1,bit9=0)</string>
		<string>io set(1,bit6=0)</string>
		<string>io set(3,bit13=1,bit10=0,bit3=0)</string>
		<string>io set(1,bit11=0)</string>
		<string>io set(1,bit12=0)</string>
		<string>io set(1,bit8=0)</string>
	</array>
	<key>force_diags_on</key>
	<array>
		<string>IO SET(1,BIT25=0)</string>
		<string>IO SET(1,BIT25=0)</string>
		<string>IO SET(8,BIT20=1,BIT3=0,BIT5=0,BIT11=0,BIT12=0,BIT13=0,BIT14=0,BIT15=0)</string>
		<string>IO SET(8,BIT20=1,BIT3=0,BIT5=0,BIT11=0,BIT12=0,BIT13=0,BIT14=0,BIT15=0)</string>
		<string>IO SET(8,BIT14=1,BIT15=1,BIT3=1,BIT5=0,BIT11=1,BIT12=1,BIT13=1)</string>
		<string>IO SET(8,BIT14=1,BIT15=1,BIT3=1,BIT5=0,BIT11=1,BIT12=1,BIT13=1)</string>
		<string>IO SET(1,BIT25=1)</string>
		<string>IO SET(1,BIT25=1)</string>
	</array>
	<key>force_diags_off</key>
	<array>
		<string>io set(1,bit9=0)</string>
		<string>io set(1,bit6=0)</string>
		<string>io set(3,bit13=1,bit10=0,bit3=0)</string>
		<string>io set(1,bit11=1)</string>
		<string>io set(1,bit12=0)</string>
		<string>io set(1,bit8=0)</string>
	</array>
	<key>force_iboot_on</key>
	<array>
		<string></string>
	</array>
	<key>force_iboot_off</key>
	<array>
		<string></string>
	</array>
	<key>led_state</key>
	<dict>
		<key>off</key>
		<array>
			<string>io set(3,bit22=1,bit23=1,bit24=1)</string>
		</array>
		<key>pass</key>
		<array>
			<string>io set(3,bit22=1,bit23=1,bit24=0)</string>
		</array>
		<key>fail</key>
		<array>
			<string>io set(3,bit22=0,bit23=1,bit24=1)</string>
		</array>
		<key>inprocess</key>
		<array>
			<string>io set(3,bit22=1,bit23=0,bit24=1)</string>
		</array>
		<key>fail_goto_fa</key>
		<array>
			<string>io set(3,bit0=0,bit1=0,bit2=0)</string>
		</array>
		<key>panic</key>
		<array>
			<string>io set(3,bit0=1,bit1=1,bit2=1)</string>
		</array>
	</dict>
	<key>Set_Temperature</key>
	<array>
		<string>FAN READ BYTE:9A</string>
		<string>FAN WRITE BYTE:00 0D</string>
		<string>FAN WRITE BLOCK:20 F2 01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16 0F 00 13 88 21 22 23 24 25 26 27 28 29 30 A5 F1</string>
		<string>FAN READ BLOCK:20 F2</string>
		<string>FAN READ WORD:8D</string>
		<string>FAN WRITE WORD:4F 1194</string>
		<string>FAN WRITE WORD:51 0FA0</string>
		<string>FAN WRITE WORD:D1 08C0</string>
		<string>FAN WRITE BYTE:D9 E7</string>
		<string>FAN WRITE WORD:F0 8001</string>
		<string>FAN WRITE BYTE:00 00</string>
		<string>FAN WRITE WORD:3B 8000</string>
		<string>FAN WRITE WORD:D1 08C0</string>
		<string>FAN WRITE BYTE:D9 E7</string>
		<string>FAN WRITE WORD:F1 0F00</string>
		<string>FAN WRITE BYTE:3A 90</string>
		<string>FAN SEND BYTE:11</string>
		<string>FAN WRITE BYTE:00 00</string>
		<string>FAN READ WORD:90</string>
	</array>
</dict>
</plist>
